@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-davy-gray: #535753;
  --color-dark-gray: #a8a8a8;
  --color-light-gray: #cccccc;
  --color-platinum: #e6e6e6;
  --color-silver: #b9b7b3;
  --color-munsell: #ededed;
  --color-gainsboro: #d9d9d9;
  --color-fern: #75c57e;
  --color-primary-two: #34a853;
  --color-gradient: linear-gradient(
    to right,
    var(--color-fern),
    var(--color-primary-two)
  );
}

@layer base {
  body {
    @apply bg-background font-inter text-foreground;
  }
}

@layer components {
  .grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
}
