@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-davy-gray: #535753;
  --color-dark-gray: #a8a8a8;
  --color-light-gray: #cccccc;
  --color-platinum: #e6e6e6;
  --color-silver: #b9b7b3;
  --color-munsell: #ededed;
  --color-gainsboro: #d9d9d9;
  --color-fern: #61bc71;
  --color-medium-sea-green: #3cab59;
  --color-gradient: linear-gradient(
    to right,
    var(--color-fern),
    var(--color-medium-sea-green)
  );
}

@layer base {
  body {
    @apply bg-background font-inter text-foreground;
  }
}

@layer components {
  .grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  scrollbar-width: none;
}

/* Tambahkan kelas CSS untuk mencegah drag */
.no-drag {
  -webkit-user-drag: none; /* untuk browser berbasis Webkit seperti Chrome, Safari */
  user-select: none; /* mencegah teks atau gambar diseleksi atau diseret */
}
